@charset "utf-8";
/* 
	@name: item.html
	@description:
	@author:neikvon@hotmail.com
*/
@import url(../public/base.css);
@import url(../form/form.css);
@import url(../form/gray-theme.css);
@import url(../theme/light/main.css);
@import url(../public/layout.css);
@import url(../public/typography.css);

.item-nav a{display: block;padding: 2em;text-decoration: none;text-align: center;font-size: 1.2em;border-bottom: 1px dashed #ccc}
.item-nav a:hover,.item-nav a.active{background-color: #eaeaea;}