@charset "utf-8";
/* 
	@name: item.html
	@description:
	@author:neikvon@hotmail.com
*/
@import url(../public/base.css);
@import url(../form/form.css);
@import url(../form/gray-theme.css);
@import url(../theme/light/main.css);
@import url(../public/layout.css);
@import url(../public/typography.css);

.item-nav a{display: block;padding: 2em;text-decoration: none;text-align: center;font-size: 1.2em;border-bottom: 1px dashed #ccc}
.item-nav a:hover,.item-nav a.active{background-color: #eaeaea;}

.profile label{width:20%;float: left;text-align: right;}
.profile p{padding-left: 25%;}
.profile label,.profile p{margin-top: 1em;}
.profile .txt{margin-right: 1em;}
.profile .short{width: 5em}
